.header-wrapper{
    font-size: 14px;
    width: 100%;
    height: 56px;
}
.header-nav{
    width: 1440px;
    min-width: 768px;
    margin: 0 auto;
    display: flex;
}
.logo-wrapper{
    flex: 0 0 100px;
    width: 100px;
    height: 56px;
    display: block;
}
.logo-wrapper>img{
    width: 100%;
    height: 100%;
}
.nav-center{
    flex: 0 0 1;

}
.nav-right{
    flex: 0 0 100px;
}